<nav class="navbar navbar-default ">
	<div class="container-fluid">
		<div class="navbar-header">
			<h7 class="navbar-brand" >
					<b>myStore</b>
			</h7>
		</div>
			<ul class="nav navbar-nav">
                <li class="r4"><%= link_to'Home',root_path%></li>
                <li class="r2"><%= link_to'New seller',new_seller_path%></li>
				<li class="r1"><%= link_to'Login',seller_page_sellers_path%></li>
			</ul>
	    </div>
    </div>
</nav>
